.logo-container {
    text-align: center; /* Centra el logo horizontalmente */
    margin-bottom: 20px; /* Espacio debajo del logo */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto;
    margin-top: 50px;
}
.login-background {
    background-image: url('../assets/FondoLiso.jpg'); /* Asegúrate de que la ruta a la imagen es correcta */
    background-size: cover; /* Cubre todo el espacio disponible */
    background-position: center; /* Centra la imagen en el contenedor */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

